<footer class="bg-primary text-white pt-[6vw] pb-[6.6vmax]" id="footer-sections" role="contentinfo" aria-label="Site Footer">
	<section class="wrapper">
		<div class="flex flex-col items-center gap-4 pb-10">
			<h2 class="sr-only">Site Footer and Navigation</h2>
			<a class="hover:bg-transparent focus:bg-transparent" href="{{ site.url }}" title="{{ site.title }}" rel="home" aria-label="home">
			<svg width="150" height="43" viewBox="0 0 150 43" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M9.00156 5.77715H6.45435V23.1492H9.00156V5.77715Z" fill="white"/>
				<path d="M17.4174 11.2651C15.813 11.2651 14.7405 11.8749 14.1221 12.3895L14.1048 12.4025V11.477H11.5532V23.1492H14.1004L14.1221 16.3595C14.2648 15.0665 15.2681 13.6739 17.132 13.6739H17.1709C17.9494 13.6739 18.624 13.9291 19.117 14.4178C19.7052 15.0016 20.0165 15.8709 20.0165 16.939V23.1492H22.5638V16.7271C22.5724 13.4577 20.5009 11.2651 17.4174 11.2651Z" fill="white"/>
				<path d="M29.3966 15.9703C29.2928 15.9444 29.1934 15.9184 29.0982 15.8925L28.9988 15.8665C27.2862 15.3995 26.9835 15.1011 26.9835 14.6427C26.9835 13.7042 28.2982 13.6307 28.7004 13.6307C29.8507 13.6307 30.5816 13.8469 31.706 14.5302L32.0909 14.7637L33.2715 12.7355L32.9385 12.502C31.7838 11.6933 30.4432 11.2954 28.8388 11.2954C26.218 11.2954 24.4579 12.6879 24.4579 14.7637C24.4579 16.9909 26.4429 17.8083 28.5879 18.3575C30.6767 18.8938 30.8367 19.296 30.8367 19.8538C30.8367 20.8788 29.5869 21.0302 28.8388 21.0302C27.55 21.0302 26.4559 20.6755 25.4958 19.9447L25.1066 19.6506L23.8005 21.774L24.1725 22.0075C25.6645 22.946 27.1046 23.3655 28.8388 23.3655C31.5027 23.3655 33.3623 21.8994 33.3623 19.8063C33.3623 17.7391 32.3244 16.7358 29.3966 15.9703Z" fill="white"/>
				<path d="M36.3852 8.53627C37.2026 8.53627 37.8686 7.87028 37.8686 7.05292C37.8686 6.23556 37.2026 5.56957 36.3852 5.56957C35.5678 5.56957 34.9019 6.23556 34.9019 7.05292C34.9019 7.87028 35.5635 8.53627 36.3852 8.53627ZM35.0835 23.093V23.1449H37.6566V11.4727H35.1094L35.0835 23.093Z" fill="white"/>
				<path d="M59.055 11.2651C57.7662 11.2651 56.5813 11.6933 55.7163 12.463L55.699 12.4803V5.77715H53.1951V23.1492H55.7466V16.619C55.7682 15.1919 56.8407 13.6739 58.7782 13.6739H58.8128C59.5869 13.6739 60.2572 13.9334 60.7502 14.4221C61.3384 15.0016 61.6627 15.8968 61.6627 16.939V23.1492H64.2099V16.7271C64.2142 13.4577 62.1384 11.2651 59.055 11.2651Z" fill="white"/>
				<path d="M136.211 12.4198L136.193 12.4068C135.16 11.6587 133.94 11.2651 132.665 11.2651C129.33 11.2651 126.619 13.9767 126.619 17.311C126.619 20.6453 129.33 23.3568 132.665 23.3568C133.936 23.3568 135.155 22.9633 136.193 22.2151L136.211 22.2021V23.1449H138.715V11.4727H136.211V12.4198ZM132.665 20.948C130.658 20.948 129.027 19.3176 129.027 17.311C129.027 15.3043 130.658 13.6739 132.665 13.6739C134.671 13.6739 136.302 15.3043 136.302 17.311C136.302 19.3176 134.671 20.948 132.665 20.948Z" fill="white"/>
				<path d="M97.5789 5.77715H95.0317V23.1492H97.5789V5.77715Z" fill="white"/>
				<path d="M119.167 11.2651C117.896 11.2651 116.676 11.6587 115.638 12.4068L115.621 12.4198V5.77715H113.117V23.1492H115.621V22.2065L115.638 22.2194C116.672 22.9676 117.892 23.3611 119.167 23.3611C122.502 23.3611 125.213 20.6496 125.213 17.3153C125.213 13.981 122.502 11.2651 119.167 11.2651ZM119.167 20.948C117.161 20.948 115.53 19.3176 115.53 17.311C115.53 15.3043 117.161 13.6739 119.167 13.6739C121.174 13.6739 122.804 15.3043 122.804 17.311C122.804 19.3176 121.174 20.948 119.167 20.948Z" fill="white"/>
				<path d="M143.814 5.77715H141.266V23.1492H143.814V5.77715Z" fill="white"/>
				<path d="M73.8107 20.2344L73.6334 20.3642C73.335 20.5847 72.7771 20.9999 71.8819 20.9999C70.498 20.9999 69.9099 20.4593 69.9099 19.1922V13.7258H73.9447V11.4813H69.9099V7.77514H67.4059V10.1018C67.4059 10.8586 66.7875 11.477 66.022 11.477H65.1787V13.7215H67.3843V19.1879C67.3843 21.7221 69.0406 23.3568 71.6008 23.3568C73.5469 23.3568 74.5978 22.5265 74.9481 22.254L75.0951 22.1373C74.6064 21.5491 74.1783 20.9091 73.8107 20.2344Z" fill="white"/>
				<path d="M93.2714 13.7172H84.4146V16.113H90.5123C89.7858 18.803 87.3337 20.7836 84.4146 20.7836C80.9203 20.7836 78.092 17.951 78.092 14.461C78.092 10.9667 80.9246 8.13841 84.4146 8.13841C86.7542 8.13841 88.7954 9.41417 89.8852 11.304L92.1124 10.0196C90.5729 7.35998 87.7056 5.56957 84.4146 5.56957C79.5018 5.56957 75.5188 9.55257 75.5188 14.4654C75.5188 19.3781 79.5018 23.3611 84.4146 23.3611C89.3274 23.3611 93.3104 19.3781 93.3104 14.4654C93.3104 14.2102 93.2931 13.9637 93.2714 13.7172Z" fill="white"/>
				<path d="M45.4282 36.854C48.7672 36.854 51.474 34.1471 51.474 30.8081C51.474 27.4691 48.7672 24.7623 45.4282 24.7623C42.0891 24.7623 39.3823 27.4691 39.3823 30.8081C39.3823 34.1471 42.0891 36.854 45.4282 36.854Z" fill="#FF0069"/>
				<path d="M45.4282 23.3568C48.7672 23.3568 51.474 20.65 51.474 17.3109C51.474 13.9719 48.7672 11.2651 45.4282 11.2651C42.0891 11.2651 39.3823 13.9719 39.3823 17.3109C39.3823 20.65 42.0891 23.3568 45.4282 23.3568Z" fill="#FFD700"/>
				<path d="M105.351 23.3568C108.69 23.3568 111.396 20.65 111.396 17.3109C111.396 13.9719 108.69 11.2651 105.351 11.2651C102.011 11.2651 99.3047 13.9719 99.3047 17.3109C99.3047 20.65 102.011 23.3568 105.351 23.3568Z" fill="#00D6F2"/>
			</svg>
			</a>
			{% if social_menu %}
			<nav>
				<small class="sr-only">{{ social_menu.name }}</small>
				<ul class="list-unstyled flex gap-4">
					{% for item in social_menu.get_items %}
						<li>
							<a class="hover:bg-transparent" target="{{ item.target }}" href="{{ item.link }}">
								<span class="fa-stack">
									<i class="fa-solid fa-circle fa-stack-2x w-[35px]"></i>
									<i class="fa-stack-1x fa-inverse text-primary fab fa-{{ item.title }}"></i>
								</span>
							</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
			{% endif %}
		</div>
		<div class="flex flex-col text-center xl:text-left xl:flex-row gap-4 justify-between">
			{% if footer_menu %}
			<nav class="pb-4">
				<small class="block pb-4 font-semibold">{{ footer_menu.name }}</small>
				<ul class="list-unstyled small">
					{% for item in footer_menu.get_items %}
						<li>
							<a class="no-underline font-poppins" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
			{% endif %}
			{% if second_footer_menu %}
			<nav class="pb-4">
				<small class="block pb-4 font-semibold">{{ second_footer_menu.name }}</small>
				<ul class="list-unstyled small">
					{% for item in second_footer_menu.get_items %}
						<li>
							<a class="no-underline font-poppins" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
			{% endif %}
			{% if third_footer_menu %}
			<nav class="pb-4">
				<small class="block pb-4 font-semibold">{{ third_footer_menu.name }}</small>
				<ul class="list-unstyled small">
					{% for item in third_footer_menu.get_items %}
						<li>
							<a class="no-underline font-poppins"  target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
			{% endif %}
			{% if fourth_footer_menu %}
			<nav class="pb-4">
				<small class="block pb-4 font-semibold">{{ fourth_footer_menu.name }}</small>
				<ul class="list-unstyled small">
					{% for item in fourth_footer_menu.get_items %}
						<li>
							<a class="no-underline font-poppins"  target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
			{% endif %}
			<div class="dropup">
				<button class="dropbtn">English (US) <img src="{{ theme.link }}/assets/images/us-flag.png" style="margin-left: 20px; border-radius:50%; width:17px !important;" alt="United States Flag"> <img src="{{ theme.link }}/assets/images/up-arrow.png" style="width:9px !important;" alt="Up Arrow"></button>
				<div class="dropup-content">
					<a href="https://insightglobalservices.co.uk/"><img src="{{ theme.link }}/assets/images/uk-flag.png" style="border-radius:50%; width:17px !important;" alt="English UK Flag"> English (UK)</a>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper pt-8 md:pt-24 text-center">
		<small class="font-poppins max-w-[46.5rem] mx-auto">&copy; {{ "now"|date('Y') }} Insight Global, A Staffing Services Company. All rights reserved. Disclaimer: Insight Global is not affiliated with Insight Direct USA, Inc. or Insight.com.</small>
	</section>
</footer>
