{% extends "partial/tease.twig" %}

{% block content %}
	<article>
		{% if post.thumbnail.src %}
			<a href="{{ post.link }}">{{ fn( 'get_the_post_thumbnail', post.id, 'post-thumb', { 'class' : 'w-full mb-2 max-h-[180px] object-cover overflow-hidden' } ) }}</a>
		{% endif %}
		{% if post.tags %}
			<div class="flex justify-start gap-2">
			{% for tag in post.tags %}
				<span class="text-xl normal-case text-primary font-poppins inline-block pb-2">{{ tag.name }}</span>
			{% endfor %}
			</div>
		{% endif %}
		<h3 class="mb-4"><a class="text-primary" href="{{ post.link }}">{{ post.title }}</a></h3>
		<div class="post-content">
			{{ fn( 'the_excerpt' ) }}
		</div>
	</article>
{% endblock %}